*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


:root {
  --primary: #2563eb;
  --secondary: #F8BF16;
  --background: #ffffff;
  --text-heading:#313131;
  --text: #333333;

--font-heading: "Oswald", sans-serif;
--font-body: "Roboto", sans-serif;
}

.text-cha{
    color: var(--text-heading);
}

.tex-nor{
    color: var(--primary);
}